body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-links button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-links button:hover {
    background-color: #45a049;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card p {
    margin: 0;
}

title{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

#myItemsContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* Adjust card styling as needed */
    width: 250px; /* Example width */
    margin: 10px; /* Example margin */
    /* Add any other card styling you need */
}

#buy-title {
    display: none;
    text-align: center;
}

#my-items-title {
    display: none;
    text-align: center;
}

#home-title {
    text-align: center;
}

#myItemsBtn {
    display: none;
}

#listItemForm {
    display: none; 
    text-align: center
}